<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="google-site-verification" content="AUsOYnsucszUwNrtabpmHY-NOlmUP2RO4c1NgSK2ues" />
<link rel="shortcut icon" type="image/x-icon" href="{{ '/images/segmentico.png' | relative_url }}"/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115575025-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115575025-5');
</script>

<!-- end custom head snippets -->
